body{
   background: url("http://cdn6.dissolve.com/p/D1869_4_025/D1869_4_025_0004_600.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: silver;
}

.signin-bar button{
  float:right;
  background-color:#2d7c2d; ;
  border-color: #2d7c2d;
  outline-color:#2d7c2d;
}
.signin-bar a{
    /* margin-left: 1000px; */
  color: silver;
  text-decoration: none;
}

.logo img{
    width: 120px;
    height:60px;
    position: absolute;
    left: 0px;
}

.logo h1{
    font-weight: bolder;
    color:  #2d7c2d;
    text-shadow: 5px 10px black;
    margin-left: 118px;
    margin-bottom: 100px;
    margin-top: 30px;
    font-family: 'Merienda';
    font-size: 35px;
}

.logo a{
    color: #288f28;
    text-decoration: none;
}

/* first bar selections */

.top-bar ul {
  margin-left: 200px;
}

.top-bar li{
  list-style: none;
  display: inline;
  margin-left: 100px;
  text-align: center;
  font-family: "Bondoni";
}

.top-bar a{
  /* color: #880811; */
  color:#288f28;
  font-size: 18px;
  font-weight: bold;
}

 /*drop down menu selections */
 .dropbtn {
    background-color: rgb(56, 54, 54);
    color: goldenrod;
    padding: 16px;
    font-size: 17px;
    border: none;
    font-family: "Bondoni";
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Bondoni";
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: goldenrod;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: gray;}


 
.informational-bar{
    background-color: rgb(4, 77, 4);
}

.info-headers h2{
    color: goldenrod;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}
.info-headers a{
    color: silver;
    list-style: none;
    font-size: 12px;
}

.info-headers ul{
    list-style: none;
}

.country-language select{
    padding-left: 21px;
    margin-top: 28px;
    background-color: rgb(4, 77, 4);
    color: silver;
}

.social-media ul{
    margin-top: 30px;
}
.social-media ul li{
    list-style: none;
    display: inline;
    /* margin-top: 33px; */
    /* margin-left: 349px; */
}

.social-media a{
    color: silver;
    margin-top: 33px; 
   
}

.copyright{
    color: silver;
    font-size: 9px;
}