body{
    background-color: rgb(34, 33, 33);
}

.mid-pic h1{
    font-weight: bolder;
    color:  #880811;
    text-shadow: 5px 10px black;
    margin-left: 174px;
    margin-bottom: 100px;
    margin-top: 30px;
    font-family: 'Merienda';
    font-size: 70px;
}

.mid-pic img{
    width: 200px;
    height:90px;
    position: absolute;
    left: 0px;
}
/* first bar selection */
.top-bar li{
    list-style: none;
    display: inline;
    margin-left: 100px;
    text-align: center;
    font-family: "Bondoni";
}

.top-bar a{
    color: #880811;
    font-size: 18px;
}
 /*drop down menu selections */
.dropbtn {
    background-color: rgb(34, 33, 33);
    color: goldenrod;
    padding: 16px;
    font-size: 17px;
    border: none;
    font-family: "Bondoni";
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Bondoni";
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: goldenrod;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: gray;}



/* big background picture section */
.big-pic img{
    position: absolute;
    opacity: 0.8;
    width: 1519px;
    height: 583px;
    z-index: -1;
    
}

/* middle paragraph section */

.mid-section p{
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    color: goldenrod;
    margin-top: 100px;
    font-family: "Bondoni";
}

.midcenter1{
    background-color: grey;
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
}
.midcenter1 p{
    text-align: center;
}

.midcenter1 select{
    margin-top: 2px;
    margin-left: 80px;
    background-color: #d2cfcf;
    height: 25px;
}
.midcenter1 input {
    margin-top: 2px;
}

.mid-center1 i{
    margin-left: 5px;
}

.midcenter1 form{
    margin-left: 50px;
}
.midcenter2{
    width: 1035px;
    /* height: 200px; */
    background-color: grey;
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
}
.midcenter2 p{
    text-align: center;
}

.midcenter2 select{
    margin-top: 2px;
    margin-left: 80px;
    background-color: #d2cfcf;
    height: 25px;
}

.midcenter2 input {
    margin-top: 2px;
}
.midcenter2 form{
    margin-left: 50px;
}
.mid-center2 i{
    margin-left: 5px;
}


/* calendar functions */



/* third middle bar */

.last-bar {
    width: 902px;
    background-color: gray;
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
}
.personal-info1 input{
    width: 70px;
    height: 35px;
    margin-left: 40px;
    color: gray;
}
.personal-info1 select{
    width: 70px;
    height: 35px;
    background-color: #d2cfcf;
}
.personal-info2 input{
    width: 80px;
    height: 35px;
    margin-left: 34px;
    color: gray;
}

.personal-info2 select{
    width: 152px;
    height: 35px;
    background-color: #d2cfcf;
}

.car-type input{
    height: 35px;
    margin-left: 50px;
    color: gray;
}

/*  bottom button */

.bottom-button {
    margin-top: 100px;
    margin-left: 515px;
    padding-top: 9px;
    font-size: 15px;
    /* height: 40px;
    width: 123px; */
    border-radius: 4px;
   
}
.bottom-button a{
    background-color: #880811;
    text-align: center;
    color: black;
    /* margin-top: 100px;
    margin-left: 515px;
    padding-top: 9px;
    font-size: 15px;
    height: 40px;
    width: 123px;
    border-radius: 4px; */
    height: 40px;
    width: 123px;
   
}

.bottom-button a:hover{
   background-color: rgb(34, 33, 33);
}